@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-3xl;
	}
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply text-xl;
	}
	input,
	textarea {
		@apply outline-blue-500 p-3 rounded-xl border border-gray-600;
	}
	.btn-blue {
		@apply bg-blue-600 text-white rounded-lg md:text-xl hover:opacity-80 transition py-2 px-3;
	}
	.btn-red {
		@apply bg-red-600 text-white rounded-lg md:text-xl hover:opacity-80 transition py-2 px-3;
	}
	.btn-orange {
		@apply bg-orange-700 text-white rounded-lg md:text-xl hover:opacity-80 transition py-2 px-3;
	}
	.btn-green {
		@apply bg-green-600 text-white rounded-lg md:text-xl hover:opacity-80 transition py-2 px-3;
	}
	.btn-gray {
		@apply bg-gray-600 text-white rounded-lg md:text-xl hover:opacity-80 transition py-2 px-3;
	}
	.btn-yellow {
		@apply bg-yellow-400 text-white rounded-lg md:text-xl hover:opacity-80 transition py-2 px-3;
	}
	.main-container {
		@apply absolute top-0 bottom-0 left-0 right-0 flex justify-center items-center;
	}
	.form-container {
		@apply border border-gray-600 rounded-lg p-3 max-w-80 shadow-2xl;
	}
	.icon {
		@apply cursor-pointer hover:text-blue-700 text-2xl;
	}
	.sidebar-list > li {
		@apply w-full hover:bg-gray-500 px-1 py-3 rounded-md cursor-pointer;
	}
	.form {
		@apply bg-white rounded-xl w-80 sm:w-96 relative p-3;
	}
	.center-container {
		@apply z-40 fixed top-0 bottom-0 left-0 right-0 flex justify-center;
	}
	.scrollbar::-webkit-scrollbar {
		width: 8px;
	}
	.scrollbar::-webkit-scrollbar-thumb {
		background: #888;
	}
	.scrollbar::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
	.page-design {
		@apply px-3 py-2 bg-gray-200;
	}
	.component-layout {
		@apply w-full lg:w-7/12 mx-auto;
	}
	.page-layout-with-back-arrow {
		@apply mx-3 mt-2;
	}
	.map-container {
		@apply mt-3 h-96 w-full;
	}
	.profile-btn-icon {
		@apply mr-3 text-xl;
	}
	.shadowDesign {
		@apply shadow-[rgba(0,0,0,0.1)_0px_0px_5px_5px];
	}
	.marketplace-card > p {
		@apply my-1;
	}
	.sidebar-transition {
		transition: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 500ms;
	}
	.setting-transition {
		transition: all;
		transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
		transition-duration: 600ms;
	}
	.custom-snackbar {
		background-color: #e0e0e0; /* Custom background color */
		color: black; /* Custom text color */
	}
	.notifications {
		@apply fixed z-30 top-0 right-0 bottom-0 w-full bg-white transition-all overflow-y-auto duration-500 translate-x-full;
	}

	.notifications.show {
		@apply translate-x-0;
	}

	th,
	td {
		@apply border border-slate-400 py-2 px-2;
	}

	th {
		@apply bg-gray-300;
	}

	.operation-btn {
		@apply text-sm py-1;
	}

	.cancel-icon {
		@apply absolute text-3xl cursor-pointer text-red-600 hover:opacity-80;
	}

	.option-div-container {
		@apply absolute right-3 top-10 border border-gray-600 bg-gray-200;
	}

	button {
		@apply select-none;
	}

	.max-img-height {
		@apply max-h-[44rem] object-contain;
	}

	.marketplace-content-height {
		@apply md:max-h-[26.5rem] min-[500px]:max-h-[23.5rem] max-h-[31.5rem];
	}
}
